.header {
    align-items: stretch;
    background-color: var(--bc-header-mobile);
    display: flex;
    flex-wrap: nowrap;
    grid-area: header;
    justify-content: space-between;
    padding: .5rem 1rem;
}