.card__info {
    color: var(--fc-gray);
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

.card__info::before{
    content: '';
    margin-right: .2rem;
}

.card__info.--time {
    grid-area: time;
}

.card__info.--time::before {
    content: '\e90c';
}

.card__info.--visualizations {
    grid-area: visualizations;
}

.card__info.--visualizations::before {
    content: '\e90f';
}


